/* Less: Buttonmodul */
.btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.btn-default {
  background-color: #ddd;
  color: black;
}
.btn-primary {
  background-color: #3b5998;
  color: white;
}
.btn-secondary {
  background-color: #20b2aa;
  color: white;
}
